<html>

<head>
    <meta charset="utf8">
    <title>SuitArt Business Card</title>
    <style>
          @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

        /* GENERAL */
        body {
            width: 90%;
            margin: 0 auto;
            font-family: 'Montserrat', sans-serif;
        }

        /* CHECKLIST */
        mark {
            background-color: transparent;
            color: #232323;
        }

        .checkbox {
            text-align: justify;
            direction: rtl;
            position: relative;
            line-height: 0;
        }

        .checkbox:after {
            content: "";
            width: 100%;
            display: inline-block;
        }

        .checkbox input,
        .checkbox .label,
        .checkbox .check {
            display: inline-block;
            vertical-align: middle;
        }

        .checkbox .label {
            max-width: 200px;
        }

        .checkbox .check {
            position: relative;
        }

        .checkbox input[type="checkbox"] {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            cursor: pointer;
            border-color: #232323;
        }

        .checkbox input[type="checkbox"]:focus {
            outline: 0;
        }

        .checkbox input[type="checkbox"]:checked+.check-container .check-off {
            border-color: green;
        }

        .checkbox input[type="checkbox"]:checked+.check-container .check-on:after {
            content: "✓";
            color: green;
            position: absolute;
            font-size: 1em;
            top: 50%;
            left: 33%;
            transform: translate(-50%, -50%)
        }

        .checkbox input[type="checkbox"]+.check-container {
            width: auto;
            position: relative;
            display: inline-block;
            width: 29px;
            height: 29px;
            top: 2px;
            pointer-events: none;
        }

        .checkbox input[type="checkbox"]+.check-container .check-off {
            position: absolute;
            width: 25px;
            height: 25px;
            left: 0;
            top: 0;
            border-radius: 2px;
            border: 2px solid #232323;
        }

        .task-list {
            position: relative;
            padding: 15px 25px;
        }

        .task-list mark {
            color: #232323;
            display: inline-block;
            margin-bottom: 3px;
        }

        .task-list time {
            font-weight: 300;
            font-size: 12px;
        }

        .task-list ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
            z-index: 1;
        }

        .task-list ul li {
            padding: 15px 0;
            position: relative;
            padding-top: 15px;
        }

        .task-list ul li .label {
            margin-bottom: 2px;
            line-height: 1.2;
            direction: ltr;
            text-align: left;
            opacity: 1;
            max-width: unset;
        }

        .task-list ul li.task-checked .label {
            opacity: 0.5;
        }

        .task-list.current ul li {
            border-top: 1px solid #b2b4b9;
        }

        .task-list.current ul li:first-child {
            border-top: 0;
        }


        .tac {
            text-align: center;
        }

        h1 {
            font-size: 35px;
        }
    </style>
</head>

<body>

    <section class="task-list current">
        <h1 class="tac">Terminator Cleanup Report</h1>
        <h2>UCPE Hostname:</h2>
        <p>{{ ucpeHostname }}</p>
        <h2>Date:</h2>
        <p>{{ date }}</p>
        <h2>Cleaned Systems:</h2>
        <ul>
            <li>
                <!-- First Check -->
                <div class="checkbox">
                    <div class="check">
                        <input type="checkbox" name="task_00" {{ sdngc }}>
                        <div class="check-container">
                            <div class="check-off"></div>
                            <div class="check-on"><i></i></div>

                        </div>
                    </div>
                    <div class="label">
                        <mark>SDN-GC</mark>
                        <!-- <br>
                        <time datetime="05-12-2016">12 March 2016 - h 9:30 am</time>
                        <p class="loaded">loaded</p> -->
                    </div>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <div class="check">
                        <input type="checkbox" name="task_00" {{ sdngcInterfacingSystems }}>
                        <div class="check-container">
                            <div class="check-off"></div>
                            <div class="check-on"><i></i></div>

                        </div>
                    </div>
                    <div class="label">
                        <mark>SDN-GC Interfacing systems</mark>
                        <!-- <br>
                        <time datetime="05-12-2016">12 March 2016 - h 9:30 am</time>
                        <p class="loaded">loaded</p> -->
                    </div>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <div class="check">
                        <input type="checkbox" name="task_01" {{ oxx }}>
                        <div class="check-container">
                            <div class="check-off"></div>
                            <div class="check-on"><i></i></div>

                        </div>
                    </div>
                    <div class="label">
                        <mark>OXX</mark>
                        <!-- <br>
                        <time datetime="05-12-2016">12 March 2016 - h 9:30 am</time>
                        <p class="loaded">loaded</p> -->
                    </div>
                </div>
            </li>
        </ul>
    </section>
</body>

</html>